.bg-fixed {
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("/Futaba.Tsukushi.jpg");

  background-size: cover;
  background-position: center;
}
