body {
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
  color: white;
  font-family: "MySerif", serif;
  background: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #6965c9;
}

h1 {
  color: white;
  padding: 2.2rem;
  text-align: center;
  margin: 40px 0 20px;
}
