body {
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
  color: white;
  font-family: "MySerif", serif;

  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("Futaba.Tsukushi.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@font-face {
  font-family: "MySerif";
  src: url("/fonts/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "MySerof";
  src: url("/fonts/cjk-sc.woff2") format("woff2");
  unicode-range: U+4EOO-9FFF;
}

@font-face {
  font-family: "MySerif";
  src: url("/fonts/cjk-jp.woff2") format("woff2");
  unicode-range: U+3040-30FF;
}

.content-box {
  max-width: 800px;
  background-color: rgba(0,0,0,0.25);
  padding: 24px;
  margin: 40px auto;
  border-radius: 12px;
  color: white;
  font-size: 1.2rem;
}

.content-box p {
  margin: 0 0 1em 0;
}

.indent {
  text-indent: 2em;
  text-align: left;
}

h1 {
  color: white;
  padding: 2.2rem;
  text-align: center;
  margin: 40px 0 20px
}
            
a{
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #6965c9;
}
