---
layout: null
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover">
        <meta name="author" content="YoungHe">
        <meta name="copyright" content="YoungHe">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#0d0d0d">
        <title>YoungSirSpace</title>
        <link rel="icon" href="/favicon.ico">

        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/background.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/post.css">
        <link rel="stylesheet" href="/css/hero.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <script src="../javascript/math.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="javascript/basic_script.js"></script>
    </head>
    
    <body class="home">
        <div class="bg-fixed"></div>

        {% include header.html %}

        <section class="hero">
            <h1 class="hero-title">
                <span class="line-main">What's past is Prologue.</span>
                <span class="line-note"> William Shakespeare</span>
            </h1>
        </section>

        <main class="page-layout home-layout">

                <section class="post-list-box glass-box">
                    <div class="post-list">
                        <h2>My Posts</h2>
                        <p>Just some records of myself. Please feel free to read.</p>
                    
                        {% for post in site.posts %}
                        <article class="post-card glass-box">
                            <h2 class="post-title">
                                <a href="{{ post.url | relative_url }}">
                                    {{ post.title }}
                                </a>
                            </h2>
                            <div class="post-meta-area">
                                <p class="post-date">{{ post.date | date: "%d/%m/%Y" }}</p>
                                <p class="post-excerpt">{{ post.excerpt }}</p>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </section>

                        <aside class="sidebar">

                <div class="glass-box profile-card">
                    <div class="avatar-wrapper">
                        <img src="/togawa_sakiko.png" alt="avatar">
                    </div>

                    <h2 class="profile-name">Young</h2>
                    <p class="profile-desc">
                        Tying to polish this website.
                    </p>
                </div>

                <div class="glass-box">
                    <h2>Links</h2>
                    <ul>
                        <li><a href="https://x.com/young1984_2007">X / Twitter</a></li>
                        <li><a href="https://github.com/YoungSirSpace">GitHub</a></li>
                    </ul>
                </div>

            </aside>

        </main>

    </body>
</html>
