<div class="glass-box profile-card">
  <div class="avatar-wrapper"><img src="/togawa_sakiko.png" alt="Avatar"></div>
  <h2>Young</h2>
  <p class="profile-desc">Trying to polish this website.</p>
  <h2>Contacts</h2>
  <div class="links-list">
    <a id="X / Twitter" class="link-btn" target="_blank" href="https://x.com/young1984_2007"><img src="/X.png" alt="X"></a>
    <a id="Github" class="link-btn" target="_blank" href="https://github.com/YoungSirSpace"><img src="/Github.png" alt="X"></a>
    <a id="Gmail" class="link-btn" href="mailto:young30030prc&#64;gmail.com"><img src="/mail.png"></a>
  </div>
</div>
