<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="page-title">YoungSirSpace</title>

  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/background.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/hero.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/toc.css">
</head>

<body>

  <div class="bg-fixed"></div>
  <header class="site-header" id="siteHeader">
    <a href="/" class="site-logo">YoungSirSpace</a>
  </header>

  <section class="post-hero"></section>

  <main class="page-layout">

    <div class="main-column">

      <div class="content-box glass-box" id="article-container">
      </div>

    </div>

    <aside class="sidebar">

      <div class="glass-box profile-card">
        <div class="avatar-wrapper">
          <img src="/togawa_sakiko.png" alt="Avatar">
        </div>
        <h2>Young</h2>
        <p class="profile-desc">Trying to polish this website.</p>

        <h2>Links</h2>
        <div class="links-list">
          <p><a href="https://x.com/young1984_2007">X / Twitter</a></p>
          <p><a href="https://github.com/YoungSirSpace">GitHub</a></p>
        </div>
      </div>

      <div class="glass-box toc-box">
        <h2>Recent Posts</h2>
        <ul>
          <li><a href="/layouts/post.html?post=article1">Why I Built This Website?</a></li>
          <li><a href="/layouts/post.html?post=article2">Some of My Concerns About the World</a></li>
        </ul>
      </div>

    </aside>

  </main>

  <script src="/javascript/basic_script.js"></script>
  <script src="/javascript/loadPost.js"></script>
  <script src="/javascript/toc.js"></script>
  <script src="/javascript/header-blur.js"></script>
  <script src="/javascript/share.js"></script>
</body>
</html>
